body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: inline-block;
}

button.active {
  background-color: purple;
}

.pokemonlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonlist img {
  width: 200px;
  height: 200px;
}

.checkbox {
  font-size: x-large;
}